<div class="site-section">
          <div class="container">
            <div class="row mb-4">
              <div class="col-md-7 mb-5 text-center mx-auto">
                <span class="caption"></span>
                <h2 class="text-black">Available <strong>AI Credits</strong></h2>
              </div>
            </div>
            <div class="row auctions-entry">
              <div class="col-6 col-md-4 col-lg-3">
                <div class="item">
                  <div>
                    <strong class="price">$249</strong>
                    <a href="buy.html"><img src="images/product_1.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="buy/1">GPT-4 API Credits</a></h3>
                    <div class="d-flex mb-2">
                      <span>Language Models</span>
                      <span class="ml-auto">4 left</span>
                    </div>
                    <a href="buy.html" class="btn btn-bid">Buy for yourself</a> | <a href="gift.html" class="btn btn-bid">Gift to a Friend</a>
                  </div>

                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <div class="item">
                  <div>
                    <strong class="price">$99</strong>
                    <a href="buy.html"><img src="images/product_2.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="buy/2">AI Art Generator Tokens</a></h3>
                    <div class="d-flex mb-2">
                      <span>Image Generation</span>
                      <span class="ml-auto">10 left</span>
                    </div>
                    <a href="buy.html" class="btn btn-bid">Buy for yourself</a> | <a href="gift.html" class="btn btn-bid">Gift to a Friend</a>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <div class="item">
                  <div>
                    <strong class="price">$399</strong>
                    <a href="buy.html"><img src="images/product_3.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="buy/3">Neural Network Training Hours</a></h3>
                    <div class="d-flex mb-2">
                      <span>Cloud Computing</span>
                      <span class="ml-auto">24 left</span>
                    </div>
                    <a href="buy.html" class="btn btn-bid">Buy for yourself</a> | <a href="gift.html" class="btn btn-bid">Gift to a Friend</a>
                  </div>
                </div>
              </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="item">
                  <div>
                    <strong class="price">$1,299</strong>
                    <a href="buy/4"><img src="images/product_5.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="buy.html">Premium Dataset Access</a></h3>
                    <div class="d-flex mb-2">
                      <span>Data Resources</span>
                      <span class="ml-auto">11 left</span>
                    </div>
                    <a href="buy.html" class="btn btn-bid">Buy for yourself</a> | <a href="gift.html" class="btn btn-bid">Gift to a Friend</a>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <div class="item">
                  <div>
                    <strong class="price">$899</strong>
                    <a href="buy/5"><img src="images/product_6.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="buy.html">AI Model Fine-tuning Credits</a></h3>
                    <div class="d-flex mb-2">
                      <span>Model Customization</span>
                      <span class="ml-auto">4 left</span>
                    </div>
                    <a href="buy.html" class="btn btn-bid">Buy for yourself</a> | <a href="gift.html" class="btn btn-bid">Gift to a Friend</a>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <div class="item">
                  <div>
                    <strong class="price">$4,999</strong>
                    <a href="buy/6"><img src="images/product_7.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="buy.html">Enterprise LLM Deployment License</a></h3>
                    <div class="d-flex mb-2">
                      <span>Enterprise Solutions</span>
                      <span class="ml-auto">293 left</span>
                    </div>
                    <a href="buy.html" class="btn btn-bid">Buy for yourself</a> | <a href="gift.html" class="btn btn-bid">Gift to a Friend</a>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <div class="item">
                  <div>
                    <strong class="price">$599</strong>
                    <a href="buy/7"><img src="images/product_8.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="buy.html">AI Research Journal Subscription</a></h3>
                    <div class="d-flex mb-2">
                      <span>Research Access</span>
                      <span class="ml-auto">123 left</span>
                    </div>
                    <a href="buy.html" class="btn btn-bid">Buy for yourself</a> | <a href="gift.html" class="btn btn-bid">Gift to a Friend</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>