asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==44.0.2
Django==3.2
django-fernet-fields==0.6
djfernet==0.8.1
idna==3.10
psutil==7.0.0
pycparser==2.22
python-dotenv==1.0.1
pytz==2025.2
requests==2.32.4
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.14.1
urllib3==2.5.0
